/* ESTILO GERAL */

*{
    background-color: white;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ESTILO DO CONTAINER */
.container-form{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 5px;
}